In [1]:
import pandas as pd

document_file='RawData/LeeCorpus/'+'LeePincombeWelshDocuments.txt'

df=pd.read_csv(document_file,sep='\t',warn_bad_lines=True,header=None,encoding = "cp1252",index_col=0)
df.head()

                                                     1
0
1.0  The national executive of the strife-torn Demo...
2.0  Cash-strapped financial services group AMP has...
3.0  The United States government has said it wants...
4.0  A radical armed Islamist group with ties to Te...
5.0  Washington has sharply rebuked Russia over bom...

In [2]:
sim_score_file=document_file='RawData/LeeCorpus/'+'LeePincombeWelshData.csv'

df1=pd.read_csv(sim_score_file)
df1.head()

   SubjectID  Document1  Document2  Similarity    Time
0          1         15          4           1  25.417
1          1          8          7           4   9.764
2          2         17          1           1  56.061
3          2         19          1           1  39.767
4          2         20          1           1  37.344

In [3]:
import re

doc1=[]
doc2=[]
sim=[]

for i,r in df1.iterrows():
    dc1=re.sub(r'\([^)]*\)', '', df[1][r['Document1']])
    dc2=re.sub(r'\([^)]*\)', '', df[1][r['Document2']])
    simi=r['Similarity']/5
    doc1.append(dc1)
    doc2.append(dc2)
    sim.append(simi)
    if i==2000:break

        
dic={
    'Documnet1':doc1,
    'Documnet2':doc2,
    'Similariry':sim
}

df3=pd.DataFrame(dic)

df3.head()

,Documnet1,Documnet2,Similariry
0,Very few women have been appointed to head ind...,A radical armed Islamist group with ties to Te...,0.2
1,"Palestinian hired gun Abu Nidal, whose violent...",Senior members of the Saudi royal family paid ...,0.8
2,Beijing has abruptly withdrawn a new car regis...,The national executive of the strife-torn Demo...,0.2
3,"In Malawi, as in other countries in the region...",The national executive of the strife-torn Demo...,0.2
4,The United Nations was determined that its sho...,The national executive of the strife-torn Demo...,0.2

In [4]:
df3.to_csv('LeeDocSimTrain.csv')